<div class="col-md-10 col-xs-12 col-sm-11 center-block">
  <div class="card gray text-dark large-padding">
    
    <h1>Nuevo Tweet</h1>
    
    <%= render 'form', tweet: @tweet %>
    
    <%= link_to 'Back', tweets_path %>
    
    
  </div>
</div>